{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

  <div class="d-flex" id="wrapper">      
       
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">           
            <!-- Page content-->
            <div class="container-fluid" style="margin-top:2%">

                <a href="./add_fiche_client"><button type="button" class="btn btn-primary">Ajouter une nouvelle fiche de client</button> </a>                   

                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">NOM</th>
                                    <th scope="col">PRENOM</th>
                                    <th scope="col">DATE DE NAISSANCE</th>
                                    <th scope="col">NUMERO</th>
                                    <th scope="col">ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                           {% for objectclient in clients %}
                                  <tr>
                                        <th scope="row">{{ objectclient["id"] }}</th>
                                        <td>{{ objectclient["nom"] }}</td>
                                        <td>{{ objectclient["prenom"] }}</td>
                                        <td>{{ objectclient["date_de_naissance"] }}</td>
                                        <td>{{ objectclient["numero"] }}</td>

                                                         

                                        <td><a href="./edit_fiche_client/{{ objectclient["id"] }}"><button type="button" class="btn btn-primary">Modifier la fiche de client</button> </a>

                                            <a href="./supp_client/{{ objectclient["id"] }}"><button type="button" class="btn btn-primary">Supprimer la fiche de client</button> </a>
                                        </td>


                                    </tr>   

                              {% endfor %}

                                </tbody>

                        </table>
            </div>
        </div>
    </div>

{% endblock %}