<div class="sidebar-heading border-bottom bg-light">Gestion locative liam desrayaud</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="http://localhost:3000/listing_clients">Les clients</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="http://localhost:3000/listing_logements">Les logements</a>    
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="http://localhost:3000/search_logements_clients">Les logements par clients</a>                    
</div>